body {
    margin-left: 50px;
    color: #444
}

div {
    width:500px;
    height:800px;
    border: 2px solid black;
    margin-left: 150px;
    background-color: rgb(235, 186, 186);
}

#bootstrap-overrides input {
    margin-left: 40px;
}

.form-control-inline {
    min-width: 0;
    width: auto;
    margin-left: 50px;
    display: inline;
}

