<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <title>Charges List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
</head>

<body>
    {% extends "layout.html" %}
    {% block content %} 
    <br>
    <h2 style="text-align: center; color:blue;">Billing Summary</h2>
    <br>
    {% for table in tables %}
        {{titles[loop.index]}}
        {{ table|safe }}
    {% endfor %}
    <br>
    <h4> Total Billable Throughput: {{ totThroughput }}</h4>
    <h4> Total Fees: {{ totFees }}</h4>
    <h4> Average : {{ fees_percent }}</h4> 
    <h4> Total Min Fees: {{ totMinFees }}</h4>
    <br>
    {% endblock %}
</body>
</html>