<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <title>Community Exceptions List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
</head>

<body>
    {% extends "layout.html" %}   
    {% block content %}  
    <br>
    <h2 style="text-align: center; color:blue;">Community Exceptions</h2>
    <br>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">supplier_id</th>
            <th scope="col">community_id</th>
            </tr>
        </thead>
        <tbody>
            {% for exception in exceptionscommunity %}
                <tr>
                    <td>{{ exception.supplier_id }}</th>
                    <td>{{ exception.community_id }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    {% endblock %}
</body>