<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <title>Parent Billing List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
</head>

<body>
    <image src="{{ url_for('static', filename='images/um.jpeg') }}"></image>
    <br>
    <h2 style="text-align: center; color:blue;">Summary of Parent Accounts</h2>
    <br>
    <table class="table" style="width:50%" vertical-align: right>
        <thead style="text-align:left">
            <tr>
            <th scope="col">supplier_id</th>
            <th scope="col">parent_id</th>
            </tr>
        </thead>
        <tbody>
            {% for parent in parentList %}
                <tr>
                    <td>{{ parent.supplier_id }}</th>
                    <td>{{ parent.parent_id }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <ul>
        <li><a href="{{ url_for('main') }}"> Click here to return to Home</a></li>
    </ul>
</body>