<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <title>Remove comm except</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
</head>

<body>
  {% extends "layout.html" %}   
  {% block content %}  
  <br>
  <h2 style="text-align: center; color:blue;">Remove a Community Exception</h2>
    <br>
    <form action="" method = "POST">
        <div class="form-group row">
          <label for="supplierid">Supplier Id</label>
          <input type="text" class="form-control" name="supplierid" id="supplierid">
        </div>
        <div class="form-group row">
            <label for="communityid">Community Id</label>
            <input type="text" class="form-control" name="communityid" id="communityid">
        </div>
        <button type="btnAdd" class="btn btn-primary">Submit</button>
        <a href="/" class="btn btn-primary">Cancel</a>
      </form>
  <br>
  {% endblock %}
</body>
</html>